.tic-tac-container-out{
    margin-top: -100px;
    justify-self: center;
    border: 5px solid #00d4ad;
    padding: 25px;
    border-radius: 5px;
    background-color: #00BF9C;
    box-shadow: 0px 10px 5px #00997d,
                10px 0px 5px #00725d,
                10px 10px 5px #00836b;

    /* animation: slideInFromTop 2s ease-out; */
}

@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

body{
    background-color: rgb(0, 0, 0);
    height: 80vh;
align-content: center;
}

.win-btn{
    position: relative;
}

.win-btn:hover{
    background-color: #ccc;
}

.win-btn:hover > .win-btn-bot{
    background-color: #bbb;
}

.win-btn:hover > .win-btn-right{
    background-color: #aaa;
}

.win-btn-bot{
    position: absolute;
    top: 95px;
    left: -2px;
    border: solid 3px #666;
    border-radius: 0px 25px 5px 25px;
    width: 112px;
    height: 15px;
    background-color: #ddd;
}

.win-btn-right{
    position: absolute;
    top: -2px;
    left: 95px;
    border: solid 3px #666;
    border-radius: 0px 25px 0px 25px;
    width: 15px;
    height: 110px;
    background-color: #ccc;
}

.tic-tac-container{
background-color: #444;
display: table;
justify-self: center;
border: 5px solid #008068;
border-radius: 5px;
padding-right: 4px;
padding-bottom: 4px;
}

.tic-tac-row{
    margin: 0;
    padding: 0;
    display: table-row;
}

.tic-tac-col{
    display: table-cell;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    text-align: center;
    font-size: 70px;
    line-height: 0;

        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */

}

.tic-tac-black{
    background-color: #000;
    color: #fff;
}

.tic-tac-white:hover,
.tic-tac-white:focus{
    background-color: #bbb !important;
}

.tic-tac-black:hover,
.tic-tac-black:focus{
    background-color: #666 !important;
}


.tic-button {
    display: table-cell;
    margin: 5px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    width: 99px;
    height: 99px;
    transform: perspective(40000); 
    -webkit-perspective: 40000;
}

.tic-button-left {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 10px;
    height: 100px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: rotateY(-90deg) translateZ(4px) translateX(15px);
}

.tic-button-front{
    display: table-cell;
    position: absolute;
    left: -5px;
    top: -5px;
    margin: 5px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: translateZ(18px);

    font-size: 85px;
    line-height: 85px;
    text-align: center;
}

.tic-button-back{
    position: absolute;
    left: -5px;
    top: -5px;
    margin: 5px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: translateZ(12px) rotateY(180deg);
    text-align: center;
    font-size: 85px;
    line-height: 85px;
}

.tic-button-right{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 10px;
    height: 100px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: rotateY(-90deg) translateZ(-94px) translateX(15px);
}

.tic-button-top{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 10px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: rotateX(-90deg) translateZ(-4px) translateY(-15px);
}

.tic-button-bot{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 10px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: rotateX(-90deg) translateZ(94px) translateY(-15px);
}

.tic-buttons {
    display: table-row;
    margin: 50px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.tic-button-hoverable-lt:hover,
.tic-button-hoverable-lt:focus {
    animation: sneakPeakLT 1s alternate infinite;
}

.tic-button-hoverable-t:hover,
.tic-button-hoverable-t:focus {
    animation: sneakPeakT 1s alternate infinite;
}

.tic-button-hoverable-rt:hover,
.tic-button-hoverable-rt:focus {
    animation: sneakPeakRT 1s alternate infinite;
}

.tic-button-hoverable-l:hover,
.tic-button-hoverable-l:focus {
    animation: sneakPeakL 1s alternate infinite;
}

.tic-button-hoverable-m:hover,
.tic-button-hoverable-m:focus {
    animation: sneakPeakM 1s alternate infinite;
}

.tic-button-hoverable-r:hover,
.tic-button-hoverable-r:focus {
    animation: sneakPeakR 1s alternate infinite;
}

.tic-button-hoverable-lb:hover,
.tic-button-hoverable-lb:focus {
    animation: sneakPeakLB 1s alternate infinite;
}

.tic-button-hoverable-b:hover,
.tic-button-hoverable-b:focus {
    animation: sneakPeakB 1s alternate infinite;
}

.tic-button-hoverable-rb:hover,
.tic-button-hoverable-rb:focus {
    animation: sneakPeakRB 1s alternate infinite;
}

.tic-button:hover > .tic-button-front,
.tic-button:focus > .tic-button-front,
.tic-button:hover > .tic-button-back,
.tic-button:focus > .tic-button-back,
.tic-button:hover > .tic-button-left,
.tic-button:focus > .tic-button-left,
.tic-button:hover > .tic-button-right,
.tic-button:focus > .tic-button-right,
.tic-button:hover > .tic-button-top,
.tic-button:focus > .tic-button-top,
.tic-button:hover > .tic-button-bot,
.tic-button:focus > .tic-button-bot {
    background-color: #bbb;
}

@keyframes sneakPeakLT {
    from {transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
    to {transform: rotateX(15deg) rotateY(-15deg) rotateZ(3deg);}
  }

  @keyframes sneakPeakT {
    from {transform: rotateX(0deg) rotateY(0deg);}
    to {transform: rotateX(25deg) rotateY(0deg);}
  }

  @keyframes sneakPeakRT {
    from {transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
    to {transform: rotateX(15deg) rotateY(15deg) rotateZ(-3deg);}
  }

  @keyframes sneakPeakL {
    from {transform: rotateX(0deg) rotateY(0deg);}
    to {transform: rotateX(0deg) rotateY(-25deg);}
  }

  @keyframes sneakPeakM {
/*     from {transform: rotateZ(0deg);}
    to {transform: rotateZ(90deg);}
    from {transform: rotateZ(90deg);}
    to {transform: rotateZ(-90deg);} */
    from {transform: scale(1);}
    to {transform: scale(0.9);}
  }

  @keyframes sneakPeakR {
    from {transform: rotateX(0deg) rotateY(0deg);}
    to {transform: rotateX(0deg) rotateY(25deg);}
  }

  @keyframes sneakPeakLB {
    from {transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
    to {transform: rotateX(-15deg) rotateY(-15deg) rotateZ(-3deg);}
  }

  @keyframes sneakPeakB {
    from {transform: rotateX(0deg) rotateY(0deg);}
    to {transform: rotateX(-25deg) rotateY(0deg);}
  }

  @keyframes sneakPeakRB {
    from {transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
    to {transform: rotateX(-15deg) rotateY(15deg) rotateZ(3deg);}
  }

/* Dices css */

.dice {
    margin: 5px;
    -webkit-transform-style: preserve-3d;
    width: 99px;
    height: 99px;
    transform: perspective(40000); 
    -webkit-perspective: 40000;
    background-color: rgba(0, 0, 0, 0);

}

.dice-left {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: rotateY(-90deg) translateZ(49px) translateX(0px);

    background-image: url(../assets/svg/dice-two-solid.svg);
    background-color: #000;
    background-size: 120%;
    background-position: -7px -9px;
}

.dice-front{
    position: absolute;
    left: -5px;
    top: -5px;
    margin: 5px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: translateZ(49px);

    background-image: url(../assets/svg/dice-one-solid.svg);
    background-color: #000;
    background-size: 120%;
    background-position: -7px -9px;
/*     text-align: center;
    text-justify: auto; */
}

.dice-back{
    position: absolute;
    left: -5px;
    top: -5px;
    margin: 5px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: translateZ(-49px) rotateY(180deg);

    background-image: url(../assets/svg/dice-six-solid.svg);
    background-color: #000;
    background-size: 120%;
    background-position: -7px -9px;
}

.dice-right{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: rotateY(450deg) translateZ(49px) translateX(0px);

    background-image: url(../assets/svg/dice-five-solid.svg);
    background-color: #000;
    background-size: 120%;
    background-position: -7px -9px;
}

.dice-top{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: rotateX(-270deg) rotateZ(0deg) translateZ(49px) translateY(0px);

    background-image: url(../assets/svg/dice-four-solid.svg);
    background-color: #000;
    background-size: 120%;
    background-position: -7px -9px;
}

.dice-bot{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: rotateX(-90deg) translateZ(49px) translateY(0px);
    transform: rotateX(-90deg) translateZ(49px) translateY(0px);

    background-image: url(../assets/svg/dice-three-solid.svg);
    background-color: #000;
    background-size: 120%;
    background-position: -7px -9px;
}

.dices > .dice1 {
    position: absolute;
    top: -25px;
    left: -25px;

    -webkit-transform: scale(0.30);
    transform: scale(0.30);
}

.dices > .dice2 {
    position: absolute;
    top: 25px;
    left: -15px;

    -webkit-transform: scale(0.30);
    transform: scale(0.30);
}

.dices > .dice3 {
    position: absolute;
    top: -15px;
    left: 25px;

    -webkit-transform: scale(0.30);
    transform: scale(0.30);
}

/* .dice-hoverable:hover,
.dice-hoverable:focus {
    animation: sneakPeak 3s alternate infinite;
    
} */

.back-btn{
    position: absolute;
    left: 25px;
    top: 25px;
    width: 110px;
    height: 110px;
    border-radius: 10px;
    background-color: #666;
}


.back-btn:hover .dice-hoverable{
    animation: sneakPeak 2.5s alternate ease-in-out infinite;
}

.dice:hover > .dice-front,
.dice:focus > .dice-front,
.dice:hover > .dice-back,
.dice:focus > .dice-back,
.dice:hover > .dice-left,
.dice:focus > .dice-left,
.dice:hover > .dice-right,
.dice:focus > .dice-right,
.dice:hover > .dice-top,
.dice:focus > .dice-top,
.dice:hover > .dice-bot,
.dice:focus > .dice-bot {
    background-color: #bbb;
    
}

@keyframes sneakPeak {
    from {transform: scale(0.30) rotateY(0deg) rotateX(0deg) rotateZ(0deg);}
    to {transform: scale(0.30) rotateY(360deg) rotateX(360deg) rotateZ(360deg);}
  }

  @keyframes sneakPeak2 {
    /* Default number: 1 */
    0% {-webkit-transform: scale(0.30) rotateY(0deg) rotateX(0deg) rotateZ(0deg);} 
    /* Number: 2 */
    20% {-webkit-transform: scale(0.30) rotateY(90deg) rotateX(0deg) rotateZ(0deg);}
    /* Number: 3 */
    40% {-webkit-transform: scale(0.30) rotateY(0deg) rotateX(90deg) rotateZ(0deg);}
    /* Number: 4 */
    60% {-webkit-transform: scale(0.30) rotateY(0deg) rotateX(-90deg) rotateZ(0deg);}
    /* Number: 5 */
    80% {-webkit-transform: scale(0.30) rotateY(-90deg) rotateX(0deg) rotateZ(0deg);}
    /* Number: 6 */
    100% {-webkit-transform: scale(0.30) rotateY(-180deg) rotateX(0deg) rotateZ(0deg);}
    
  }