/* basic menu styles */
.block-menu {
	display: block;
	background: rgb(33,37,41);
}

.block-menu li {
	display: inline-block;
}

.block-menu li a {
	color: #fff;
	display: block;
	text-decoration: none;
	overflow: visible;
	line-height: 20px;
	font-size: 24px;
	padding: 15px 10px;
    
}

nav > ul {
    height: 100%;
}

nav > ul > li {
    height: 100%;
}

/* animation domination */
.three-d {
    height: 100%;
	perspective: 200px;
	transition: all .07s linear;
	position: relative;
	cursor: pointer;
    padding: 1rem !important;

    background-color: rgb(33,37,41);

}
	/* complete the animation! */
	.three-d:hover .three-d-box, 
	.three-d:focus .three-d-box {
		transform: translateZ(-35px) rotateX(90deg);
	}

.three-d-box {
	transition: all .3s ease-out;
	transform: translatez(-25px);
	transform-style: preserve-3d;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;

    

}

/* 
	put the "front" and "back" elements into place with CSS transforms, 
	specifically translation and translatez
*/
.front {
	transform: rotatex(0deg) translatez(35px);
}

.back {
	transform: rotatex(-90deg) translatez(36.5px);
}

.front {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #111;
	padding: 15px 10px;
	color: white;
	pointer-events: none;
	box-sizing: border-box;
    line-height: 2.5rem;
    padding: 1rem !important;

    border-radius: 5px;

    color: white;
    
}

.back {
    display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px 10px;
	color: white;
	pointer-events: none;
	box-sizing: border-box;
    line-height: 2.5rem;
    padding: 1rem !important;
    background: #444;

    border-radius: 5px;

    color: white;

}

header {
    height: 75px;
	padding-left: 0px !important;
	border-radius: 5px;
}


body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
i,
select {
    margin: 0;
    padding: 0;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	flex-direction: column;
    background-color: #000000;
    -webkit-perspective: 90rem;
            perspective: 90rem;
    -webkit-perspective-origin: 34% 61%;
            perspective-origin: 34% 61%;
    height: 100vh;
}

.MainMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #000000;
    -webkit-perspective: 90rem;
            perspective: 90rem;
    -webkit-perspective-origin: 34% 61%;
			perspective-origin: 34% 61%;
			margin-top: auto;
			margin-bottom: auto;
}

img {
    width: 160px;
}

button {
    cursor: pointer;
    outline: 0;
    width: 180px;
    height: 48px;
    border-radius: 8px;
    background-color: #2C3138;
    margin-top: 40px;
    overflow: hidden;
    -webkit-transform: scale(.7);
            transform: scale(.7);
}

button::after {
    content: '';
    position: relative;
    top: -40px;
    display: block;
    width: 48px;
    height: 107%;
    background-color: #000;
    margin-top: -1px;
    margin-left: -7px;
    border-radius: 6px 0 0 6px;
    background-image: url('../svg/play-circle-regular.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
    
}

button::before {
    content: "";
    display: block;
    width: 48px;
    height: 46px;
    margin-left: -7px;
    margin-top: -1px;
    -webkit-transition: all 200ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
    transition: all 200ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
}

.box-1:hover button::before {
    width: 120%;
    opacity: .8;
    background-color: #00BF9C;
}

.box-2:hover button::before {
    width: 120%;
    opacity: .8;
    background-color: #653EE6;
}

.box-3:hover button::before {
    width: 120%;
    opacity: .8;
    background-color: #008BFF;
}

.box-4:hover button::before {
    width: 120%;
    opacity: .8;
    background-color: #FF6500;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
	width: 80vw;
	margin-top: auto;
	margin-bottom: auto;
    height: max-content !important;
    margin-left: 6vw;
    /* transform:rotateX(7deg) rotateZ(-4deg) rotateY(13deg) scale3d(1, 1, -0.9); */
    -webkit-transform: rotateX(23deg) rotateZ(-9deg) rotateY(15deg) scale3d(1, 1, -0.9);
            transform: rotateX(23deg) rotateZ(-9deg) rotateY(15deg) scale3d(1, 1, -0.9);
}

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    will-change: transform;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: perspective(40000); 
    perspective: 40000;
    -webkit-perspective: 40000;
}

.box:hover .cover {
/*     -webkit-transform: translateY(-25px) scale(1.25);
            transform: translateY(-25px) scale(1.25); */
            animation: sneakPeak 2s alternate ease-in-out infinite;
}

.nav-link{
    text-decoration: none;
    color: #ddd;
    border-radius: 5px;
}

.nav-link:hover {
    color: #fff;
    background-color: #444;
}

@keyframes sneakPeak {

    0% {-webkit-transform: translateY(0px) rotateY(0deg) rotateX(0deg) rotateZ(0deg);} 

    15% {-webkit-transform: translateY(-25px) rotateY(0deg) rotateX(0deg) rotateZ(0deg);}

    30% {-webkit-transform: translateY(-25px) rotateY(0deg) rotateX(0deg) rotateZ(11.25deg);}

    50% {-webkit-transform: translateY(-25px) rotateY(0deg) rotateX(0deg) rotateZ(-11.25deg);}

    70% {-webkit-transform: translateY(-25px) rotateY(0deg) rotateX(0deg) rotateZ(11.25deg);}

    85% {-webkit-transform: translateY(-25px) rotateY(0deg) rotateX(0deg) rotateZ(0deg);}

    100% {-webkit-transform: translateY(0px) rotateY(0deg) rotateX(0deg) rotateZ(0deg);}
    
  }

.box-1 button {
    border: 1px solid #00BF9C;
    color: #fff;
    font-size: 22px;
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
}

.box-1 button::after {
    content: '';
    background-color: #00BF9C;
    top: -85px
}

.box-2 button {
    border: 1px solid #653EE6;
    color: #fff;
    font-size: 22px;
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
}

.box-2 button::after {
    content: "";
    background-color: #653EE6;
    top: -85px
}

.box-3 button {
    border: 1px solid #008BFF;
    color: #fff;
    font-size: 22px;
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
}

.box-3 button::after {
    content: "";
    background-color: #008BFF;
    top: -85px
}

.box-4 button {
    border: 1px solid #FF6500;
    color: #fff;
    font-size: 22px;
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
}

.box-4 button::after {
    content: "";
    background-color: #FF6500;
    top: -85px
}

.cover {
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    will-change: transform;
}

.cover img {
    -webkit-transition: all 260ms ease-in-out;
    transition: all 260ms ease-in-out;
}

.box .cover::after {
    content: "";
    z-index: -99;
    position: absolute;
    top: 20px;
    left: -20px;
    display: block;
    width: 160px;
    height: 160px;
    opacity: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 160px 214px;
    -webkit-filter: blur(24px);
            filter: blur(24px);
    -webkit-transition: all 260ms ease-in-out;
    transition: all 260ms ease-in-out;
    will-change: transform;
    -webkit-transform: scale(.6);
            transform: scale(.6);
            
}

.box:hover .cover::after {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
}

.box-1 .cover::after {
    background-image: url('../../TicTacToe.png');
    
}

.box-2 .cover::after {
    background-image: url('../../Memory.png');
}

.box-3 .cover::after {
    background-image: url('../../Chess.png');
}

.box-4 .cover::after {
    background-image: url('../../MineSweeper.png');
}

.box-1 button div::before {
    content: 'TicTacToe';
    position: relative;
    top: -44px;
    left: -6px;
    color: #00BF9C;
    font-size: 21px;
    font-weight: 300;
}

.box-1:hover button div::before {
    color: #fff;
}

.box-2 button div::before {
    content: 'Memory';
    position: relative;
    top: -44px;
    left: -6px;
    color: rgb(154, 123, 255);
    font-size: 21px;
    font-weight: 300;
}

.box-2:hover button div::before {
    color: #fff;
}

.box-3 button div::before {
    content: 'Chess';
    position: relative;
    top: -44px;
    left: -17px;
    color: #008BFF;
    font-size: 21px;
    font-weight: 300;
}

.box-3:hover button div::before {
    color: #fff;
}

.box-4 button div::before {
    content: 'MineSweeper';
    position: relative;
    top: -44px;
    left: 14px;
    color: #FF6500;
    font-size: 21px;
    font-weight: 300;
}

.box-4:hover button div::before {
    color: #fff;
}

.dr {
position: absolute;
  bottom: 16px; 
  right: 16px;
  width:100px;
}