:root{
    --fieldSize: 400px;
    /* --boxSize: 40px; */
}

body{
    display: flex;
    flex-direction: column;
    background-color: #FF9C8E;
}

.valid:hover{
    background-color: #ff5100;
}

.valid{
    background-color: #FF6500;
    border: 1px solid black;
    border-radius: 3px;
}

.mine{
    background-color: #FF6500;
    border: 1px solid black;
    border-radius: 3px;
}

.mine:hover{
    background-color: #ff5100;
}

.mine.checked{
    background-image: url('./bomb-solid.svg');
    background-size: 75% 75%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.grid{
    margin-left: auto;
    margin-right: auto;
    height: var(--fieldSize) !important;
    width: var(--fieldSize) !important;
    display: flex;
    flex-wrap: wrap;
    background-color: #FF7D54;
}

.timer{
    margin-left: auto;
    margin-right: auto;
    width: min-content;
    margin-bottom: 1em;
    white-space: nowrap;
}

.flag{
    background-image: url('./flag-regular.svg');
    background-size: 75% 75%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.grid div{
    height: var(--boxSize);
    width: var(--boxSize);
    border: 1px solid black;
}

.checked{
    background-color: rgb(255, 200, 129);
    text-align: center;
}

.grid div:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* .mine{
    background-image: url('./bomb-solid.svg');
    background-size: 0%;
    background-position: center;
    background-repeat: no-repeat;
} */

.mine-shown{
    background-image: url('./bomb-solid.svg');
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

#gameForm{
    border: 2px solid black;
    padding: 1em;
    margin-bottom: 2em;
}