.memory-card {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
/*     margin-left: auto;
    margin-right: auto; */
    -webkit-transform-style: preserve-3d;
    width: 99px !important;
    height: 99px !important;
    -webkit-perspective: 40000;
    grid-column-start: 1;
    grid-column-end: 3;

    transform: rotateX(45deg) rotateZ(45deg);
}

.d-lvl1{
    flex-basis: 19.2%;
}

.d-menu{
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    flex-direction: row !important;
    flex-basis: 30%;
}

.d-side-menu{
    left: 0px !important;
    top: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    font-size: 50px !important;
}

.iconCard{
    font-size: 65px !important;
}

.revealed-card{
    -webkit-transform: rotateY(180deg) translateY(-25px) translateX(40px);
    transform: rotateY(180deg) translateY(-25px) translateX(40px);

}

.won-card{
    -webkit-transform: rotateY(180deg) rotateX(-45deg) rotateZ(-45deg) translateY(-20px) translateX(65px);
    transform: rotateY(180deg) rotateX(-45deg) rotateZ(-45deg) translateY(-20px) translateX(65px);
}

.memory-card-left {
    position: absolute;
    left: 18.5%;
    right: 18.5%;
    top: 0px;
    width: 10px;
    height: 100px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: rotateY(-90deg) translateZ(4px) translateX(15px);
}

.memory-card-front{
    padding: 0;
    position: absolute;
    left: 18.5%;
    right: 18.5%;
    top: 0px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: translateZ(18px);

    font-size: 85px;
    line-height: 0.95em;
    text-align: center;
}

.memory-card-front > .button{
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background-color: #aaa;
    border-radius: 5px;
    line-height: inherit;
    font-size: 75px;
    text-align: center;
}

.memory-card-back{
    position: absolute;
    left: 18.5%;
    right: 18.5%;
    top: 0px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: translateZ(12px) rotateY(180deg);
    text-align: center;
    font-size: 85px;
    line-height: 85px;
}

.memory-card-right{
    position: absolute;
    left: 18.5%;
    right: 18.5%;
    top: 0px;
    width: 10px;
    height: 100px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: rotateY(-90deg) translateZ(-94px) translateX(15px);
}

.memory-card-top{
    position: absolute;
    left: 18.5%;
    right: 18.5%;
    top: 0px;
    width: 100px;
    height: 10px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: rotateX(-90deg) translateZ(-4px) translateY(-15px);
}

.memory-card-bot{
    position: absolute;
    left: 18.5%;
    right: 18.5%;
    top: 0px;
    width: 100px;
    height: 10px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: rotateX(-90deg) translateZ(94px) translateY(-15px);
}

.memory-cards {
    margin: 50px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.memory-cards-main {
    margin: 50px;
    padding: 5px;
    /* display: grid; */
    justify-content: space-between;
    align-content: space-between;
}

.memory-card-hoverable:hover,
.memory-card-hoverable:focus {
    animation: sneakPeak 2s alternate ease-in-out infinite;
}

.memory-card-menu-hover:hover,
.memory-card-menu-hover:focus {
    animation: sneakPeakMenu 2s /* alternate */ ease-in-out infinite;
}

.memory-card:hover > .memory-card-front,
.memory-card:focus > .memory-card-front,
.memory-card:hover > .memory-card-back,
.memory-card:focus > .memory-card-back,
.memory-card:hover > .memory-card-left,
.memory-card:focus > .memory-card-left,
.memory-card:hover > .memory-card-right,
.memory-card:focus > .memory-card-right,
.memory-card:hover > .memory-card-top,
.memory-card:focus > .memory-card-top,
.memory-card:hover > .memory-card-bot,
.memory-card:focus > .memory-card-bot {
    background-color: #bbb;
}

@keyframes sneakPeak {
    0% {transform: rotateX(45deg) rotateZ(45deg) rotateY(0deg);}
    50% {transform: rotateX(45deg) rotateZ(45deg) rotateY(25deg);}
  }

/* @keyframes sneakPeak {
    0% {transform: rotateX(45deg) rotateZ(45deg) rotateY(0deg);}
    25% {transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);}
    50% {transform: rotateX(0deg) rotateZ(0deg) rotateY(25deg);}
    75% {transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);}
  } */

  @keyframes sneakPeakMenu {
    0% {transform: rotateX(45deg) rotateZ(45deg) rotateY(0deg);}
    25% {transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);}
    50% {transform: rotateX(45deg) rotateZ(-45deg) rotateY(0deg);}
    75% {transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);}
  }