.memory-card {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
/*     margin-left: auto;
    margin-right: auto; */
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    width: 99px !important;
    height: 99px !important;
    
    grid-column-start: 1;
    grid-column-end: 3;

    transform: rotateX(45deg) rotateZ(45deg) translateX(-25px);
}

body{
    width: 100% !important;
    /* overflow: hidden; */
    background-color: #653EE6;
}

.modal-backdrop{
    z-index: -10000;
}

.modal{
    position: relative !important;
}

.d-menu{
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    flex-direction: row !important;
    flex-basis: 30%;
}

.d-side-menu{
    left: 0px !important;
    top: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    font-size: 50px !important;
}

.iconCard{
    font-size: 65px !important;
}

.revealed-card{
    -webkit-transform: rotateY(180deg) translateY(-15px) translateX(-15px);
    transform: rotateY(180deg) translateY(-15px) translateX(-15px);

}

.won-card{
    -webkit-transform: rotateY(180deg) rotateX(-45deg) rotateZ(-45deg) translateY(-20px) translateX(10px);
    transform: rotateY(180deg) rotateX(-45deg) rotateZ(-45deg) translateY(-20px) translateX(10px);
}

.memory-card-left {
    position: absolute;
    left: 18.5%;
    right: 18.5%;
    top: 0px;
    width: 10px;
    height: 100px;
    border: 3px solid black;
    background-color: #653EE6;
    color: #fff;
    border-radius: 5px;
    -webkit-transform: rotateY(-90deg) translateZ(4px) translateX(15px);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.memory-card-front{
    padding: 0;
    position: absolute;
    left: 18.5%;
    right: 18.5%;
    top: 0px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: #653EE6;
    color: rgb(68, 0, 40);
    border-radius: 5px;
    -webkit-transform: translateZ(18px);

    font-size: 85px;
    line-height: 0.95em;
    text-align: center;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.memory-card-front > .button{
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background-color: #aaa;
    border-radius: 5px;
    line-height: inherit;
    font-size: 75px;
    text-align: center;
}

.memory-card-back{
    position: absolute;
    left: 18.5%;
    right: 18.5%;
    top: 0px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: #653EE6;
    color: rgb(68, 0, 40);
    border-radius: 5px;
    -webkit-transform: translateZ(12px) rotateY(180deg);
    text-align: center;
    font-size: 85px;
    line-height: 85px;
}

.memory-card-right{
    position: absolute;
    left: 18.5%;
    right: 18.5%;
    top: 0px;
    width: 10px;
    height: 100px;
    border: 3px solid black;
    background-color: #653EE6;
    color: #000;
    border-radius: 5px;
    -webkit-transform: rotateY(-90deg) translateZ(-94px) translateX(15px);
}

.memory-card-top{
    position: absolute;
    left: 18.5%;
    right: 18.5%;
    top: 0px;
    width: 100px;
    height: 10px;
    border: 3px solid black;
    background-color: #653EE6;
    color: #000;
    border-radius: 5px;
    -webkit-transform: rotateX(-90deg) translateZ(-4px) translateY(-15px);
}

.memory-card-bot{
    position: absolute;
    left: 18.5%;
    right: 18.5%;
    top: 0px;
    width: 100px;
    height: 10px;
    border: 3px solid black;
    background-color: #653EE6;
    color: #000;
    border-radius: 5px;
    -webkit-transform: rotateX(-90deg) translateZ(94px) translateY(-15px);
}

.memory-cards {
    margin: 50px;
    padding-left: 25px;
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    
    transform-style: preserve-3d;
}

.modal-content {
    background-color: #AE7BFF;
}

.row{
    justify-content: space-around;
    margin-top: 2em;
    margin-bottom: 2em;
}

.memory-cards-main {
    border-radius: 5px;
    margin: 50px;
    padding: 25px;
    padding-top: 45px;
    /* display: grid; */
    justify-content: space-between;
    align-content: space-between;
    transform-style: preserve-3d;
    background-color: #AE7BFF;
}

.scene{
    transform-style: preserve-3d;
    perspective: 40000;
    -webkit-perspective: 40000;
    perspective-origin: 50% calc(50% - 12em);
}

.memory-card-hoverable:hover,
.memory-card-hoverable:focus {
    animation: sneakPeak 2s alternate ease-in-out infinite;
}

.memory-card-menu-hover:hover,
.memory-card-menu-hover:focus {
    animation: sneakPeakMenu 2s /* alternate */ ease-in-out infinite;
}

.memory-card:hover > .memory-card-front,
.memory-card:focus > .memory-card-front,
.memory-card:hover > .memory-card-back,
.memory-card:focus > .memory-card-back,
.memory-card:hover > .memory-card-left,
.memory-card:focus > .memory-card-left,
.memory-card:hover > .memory-card-right,
.memory-card:focus > .memory-card-right,
.memory-card:hover > .memory-card-top,
.memory-card:focus > .memory-card-top,
.memory-card:hover > .memory-card-bot,
.memory-card:focus > .memory-card-bot {
    background-color: #0098FF
}

@keyframes sneakPeak {
    0% {transform: rotateX(45deg) rotateZ(45deg) rotateY(0deg) translateX(-25px);}
    50% {transform: rotateX(45deg) rotateZ(45deg) rotateY(25deg) translateX(-25px);}
  }

/* @keyframes sneakPeak {
    0% {transform: rotateX(45deg) rotateZ(45deg) rotateY(0deg);}
    25% {transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);}
    50% {transform: rotateX(0deg) rotateZ(0deg) rotateY(25deg);}
    75% {transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);}
  } */

  @keyframes sneakPeakMenu {
    0% {transform: rotateX(45deg) rotateZ(45deg) rotateY(0deg) translateX(-25px);}
    25% {transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) translateX(-25px);}
    50% {transform: rotateX(45deg) rotateZ(-45deg) rotateY(0deg) translateX(-25px);}
    75% {transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) translateX(-25px);}
  }

  .btn-purple{
    background-color: #0066ff;
    color: white;
    padding: 0.75em;
  }

  .btn-purple:hover,.btn-purple:focus{
    background-color: #0051ff;
    color: rgba(255, 255, 255, 1);
  }

  #resetForm{
      margin-left: auto;
      margin-right: auto;
  }






  /* Dices css */

.dice {
    margin: 5px;
    width: 99px;
    height: 99px;
    transform: perspective(40000); 
    -webkit-perspective: 40000;
    background-color: rgba(0, 0, 0, 0);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.dice-left {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 5px;
    -webkit-transform: rotateY(-90deg) translateZ(49px) translateX(0px);

    background-image: url(../assets/svg/dice-black/dice-two-solid.svg);
    background-color: #fff;
    background-size: 120%;
    background-position: -7px -9px;
}

.dice-front{
    position: absolute;
    left: -5px;
    top: -5px;
    margin: 5px;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 5px;
    -webkit-transform: translateZ(49px);

    background-image: url(../assets/svg/dice-black/dice-one-solid.svg);
    background-color: #fff;
    background-size: 120%;
    background-position: -7px -9px;
/*     text-align: center;
    text-justify: auto; */
}

.dice-back{
    position: absolute;
    left: -5px;
    top: -5px;
    margin: 5px;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 5px;
    -webkit-transform: translateZ(-49px) rotateY(180deg);

    background-image: url(../assets/svg/dice-black/dice-six-solid.svg);
    background-color: #fff;
    background-size: 120%;
    background-position: -7px -9px;
}

.dice-right{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 5px;
    -webkit-transform: rotateY(450deg) translateZ(49px) translateX(0px);

    background-image: url(../assets/svg/dice-black/dice-five-solid.svg);
    background-color: #fff;
    background-size: 120%;
    background-position: -7px -15px;
}

.dice-top{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 5px;
    -webkit-transform: rotateX(-270deg) rotateZ(0deg) translateZ(49px) translateY(0px);

    background-image: url(../assets/svg/dice-black/dice-four-solid.svg);
    background-color: #fff;
    background-size: 120%;
    background-position: -7px -9px;
}

.dice-bot{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 5px;
    -webkit-transform: rotateX(-90deg) translateZ(49px) translateY(0px);
    transform: rotateX(-90deg) translateZ(49px) translateY(0px);

    background-image: url(../assets/svg/dice-black/dice-three-solid.svg);
    background-color: #fff;
    background-size: 120%;
    background-position: -7px -15px;
}

.dices > .dice1 {
    position: absolute;
    top: -25px;
    left: -25px;

    -webkit-transform: scale(0.30);
    transform: scale(0.30);
}

.dices > .dice2 {
    position: absolute;
    top: 25px;
    left: -15px;

    -webkit-transform: scale(0.30);
    transform: scale(0.30);
}

.dices > .dice3 {
    position: absolute;
    top: -15px;
    left: 25px;

    -webkit-transform: scale(0.30);
    transform: scale(0.30);
}

.back-btn{
    position: absolute;
    left: 5px;
    top: 5px;
    width: 110px;
    height: 110px;
    border-radius: 10px;
    background-color: #AE7BFF;

    transform: scale(0.75);
}

.back-btn:hover{
    background-color: #0098FF;
}


.back-btn:hover .dice-hoverable{
    animation: sneakPeakDice 2.5s alternate ease-in-out infinite;
}

.dice:hover > .dice-front,
.dice:focus > .dice-front,
.dice:hover > .dice-back,
.dice:focus > .dice-back,
.dice:hover > .dice-left,
.dice:focus > .dice-left,
.dice:hover > .dice-right,
.dice:focus > .dice-right,
.dice:hover > .dice-top,
.dice:focus > .dice-top,
.dice:hover > .dice-bot,
.dice:focus > .dice-bot {
    background-color: #00D0FF;
    border: 2px solid #00D0FF;
}

@keyframes sneakPeakDice {
    from {transform: scale(0.30) rotateY(0deg) rotateX(0deg) rotateZ(0deg);}
    to {transform: scale(0.30) rotateY(360deg) rotateX(360deg) rotateZ(360deg);}
  }

  @keyframes sneakPeakDice2 {
    /* Default number: 1 */
    0% {-webkit-transform: scale(0.30) rotateY(0deg) rotateX(0deg) rotateZ(0deg);} 
    /* Number: 2 */
    20% {-webkit-transform: scale(0.30) rotateY(90deg) rotateX(0deg) rotateZ(0deg);}
    /* Number: 3 */
    40% {-webkit-transform: scale(0.30) rotateY(0deg) rotateX(90deg) rotateZ(0deg);}
    /* Number: 4 */
    60% {-webkit-transform: scale(0.30) rotateY(0deg) rotateX(-90deg) rotateZ(0deg);}
    /* Number: 5 */
    80% {-webkit-transform: scale(0.30) rotateY(-90deg) rotateX(0deg) rotateZ(0deg);}
    /* Number: 6 */
    100% {-webkit-transform: scale(0.30) rotateY(-180deg) rotateX(0deg) rotateZ(0deg);}
    
  }