.dice {
    margin: 5px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    width: 99px;
    height: 99px;
    background-color: rgba(0, 0, 0, 0);
}

.dice-left {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: rotateY(-90deg) translateZ(49px) translateX(0px);

    background-image: url(../assets/svg/dice-two-solid.svg);
    background-color: #000;
    background-size: 130%;
    background-position: -14px -13px;
}

.dice-front{
    position: absolute;
    left: -5px;
    top: -5px;
    margin: 5px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: translateZ(49px);

    background-image: url(../assets/svg/dice-one-solid.svg);
    background-color: #000;
    background-size: 130%;
    background-position: -14px -13px;
}

.dice-back{
    position: absolute;
    left: -5px;
    top: -5px;
    margin: 5px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: translateZ(-49px) rotateY(180deg);

    background-image: url(../assets/svg/dice-six-solid.svg);
    background-color: #000;
    background-size: 130%;
    background-position: -14px -22px;
}

.dice-right{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: rotateY(450deg) translateZ(49px) translateX(0px);

    background-image: url(../assets/svg/dice-five-solid.svg);
    background-color: #000;
    background-size: 130%;
    background-position: -14px -22px;
}
.dice-top{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: rotateX(-270deg) rotateZ(0deg) translateZ(49px) translateY(0px);

    background-image: url(../assets/svg/dice-four-solid.svg);
    background-color: #000;
    background-size: 130%;
    background-position: -14px -22px;
}

.dice-bot{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: #aaa;
    border-radius: 5px;
    -webkit-transform: rotateX(-90deg) translateZ(49px) translateY(0px);

    background-image: url(../assets/svg/dice-three-solid.svg);
    background-color: #000;
    background-size: 130%;
    background-position: -14px -22px;
}

.dices {
    margin: 50px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.dice-2{
    transform: rotateY(90deg) rotateX(0deg) rotateZ(0deg);
}

.dice-3{
    transform: rotateY(0deg) rotateX(90deg) rotateZ(0deg);
}

.dice-4{
    transform: rotateY(0deg) rotateX(-90deg) rotateZ(0deg);
}

.dice-5{
    transform: rotateY(-90deg) rotateX(0deg) rotateZ(0deg);
}

.dice-6{
    transform: rotateY(-180deg) rotateX(0deg) rotateZ(0deg);
}

.dice-anim1 {
    animation: cubeSpin 3s alternate ease-in-out infinite;
}

.dice-anim2 {
    animation: cubeSpin 3s alternate-reverse ease-in-out infinite;
}

.dice > form{
    position: absolute;
    -webkit-transform-style: preserve-3d;
    width: 99px;
    height: 99px;
    transform: perspective(40000); 
    -webkit-perspective: 40000;
    background-color: rgba(0, 0, 0, 0);

    display: flex;
    flex-basis: 9%;
}

.dice-front:hover{
    background-image: url(../assets/svg/dice-black/dice-one-solid.svg);
    background-color: #fff;
    background-position: -14px -22px;
}
.dice-back:hover{
    background-image: url(../assets/svg/dice-black/dice-six-solid.svg);
    background-color: #fff;
}
.dice-left:hover{
    background-image: url(../assets/svg/dice-black/dice-two-solid.svg);
    background-color: #fff;
    background-position: -14px -22px;
}
.dice-right:hover{
    background-image: url(../assets/svg/dice-black/dice-five-solid.svg);
    background-color: #fff;
}
.dice-top:hover{
    background-image: url(../assets/svg/dice-black/dice-four-solid.svg);
    background-color: #fff;
}
.dice-bot:hover {
    background-image: url(../assets/svg/dice-black/dice-three-solid.svg);
    background-color: #fff;
}

/* @keyframes sneakPeak {
    from {transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);}
    to {transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);}
  } */

  @keyframes sneakPeak {
    /* Default number: 1 */
    0% {transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);}
    /* Number: 2 */
    20% {transform: rotateY(90deg) rotateX(0deg) rotateZ(0deg);}
    /* Number: 3 */
    40% {transform: rotateY(0deg) rotateX(90deg) rotateZ(0deg);}
    /* Number: 4 */
    60% {transform: rotateY(0deg) rotateX(-90deg) rotateZ(0deg);}
    /* Number: 5 */
    80% {transform: rotateY(-90deg) rotateX(0deg) rotateZ(0deg);}
    /* Number: 6 */
    100% {transform: rotateY(-180deg) rotateX(0deg) rotateZ(0deg);}
    
  }

  @keyframes cubeSpin {
    0% {transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);}
    20% {transform: rotateY(90deg) rotateX(0deg) rotateZ(0deg);}
    40% {transform: rotateY(90deg) rotateX(0deg) rotateZ(90deg);}
    60% {transform: rotateY(90deg) rotateX(0deg) rotateZ(180deg);}
    80% {transform: rotateY(90deg) rotateX(0deg) rotateZ(270deg);}
    100% {transform: rotateY(180deg) rotateX(0deg) rotateZ(270deg);}
  }